*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Nunito', sans-serif;
}

body{
    background:linear-gradient(135deg,#0f172a,#172554,#111827);
    min-height:100vh;
    color:white;
    padding:20px;
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card{
    width:100%;
    max-width:700px;
    background:rgba(255,255,255,0.08);
    border-radius:35px;
    padding:25px;
    text-align:center;
}

.icono{
    width:100px;
    height:100px;
    border-radius:50%;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:45px;
    margin-bottom:20px;
}

.verde{
    background:linear-gradient(135deg,#22c55e,#16a34a);
}

h1{
    font-size:40px;
    margin-bottom:20px;
    color:#facc15;
}

.imagen{
    width:100%;
    border-radius:25px;
    cursor:pointer;
    margin-bottom:20px;
}

/* TEMA */

h2{
    font-size:30px;
    margin-bottom:20px;
    color:#38bdf8;
    line-height:1.4;
}

/* INDICACIONES */

h3{
    font-size:22px;
    margin-bottom:20px;
    color:#4ade80;
    background:rgba(255,255,255,0.08);
    padding:15px;
    border-radius:18px;
    line-height:1.6;
}

/* TEXTO VIDEO Y ACTIVIDAD */

p{
    font-size:22px;
    margin-top:20px;
    margin-bottom:20px;
    color:#facc15;
    font-weight:700;
    line-height:1.5;
}

.video-box iframe{
    width:100%;
    height:350px;
    border:none;
    border-radius:25px;
    margin-bottom:20px;
}

.btn{
    display:block;
    width:100%;
    padding:18px;
    border-radius:20px;
    text-decoration:none;
    color:white;
    font-size:20px;
    font-weight:900;
    transition:.3s;
    border:none;
    cursor:pointer;
}

.btn:hover{
    transform:scale(1.03);
}

.rojo{
    background:linear-gradient(135deg,#ef4444,#dc2626);
    box-shadow:0 10px 25px rgba(239,68,68,.4);
}

/* MODAL */

.modal{
    display:none;
    position:fixed;
    z-index:9999;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.95);
}

.modal-contenido{
    margin:auto;
    display:block;
    width:95%;
    max-width:1000px;
    margin-top:30px;
    border-radius:20px;
}

.cerrar{
    position:absolute;
    top:10px;
    right:30px;
    font-size:50px;
    cursor:pointer;
}

/* CELULAR */

@media(max-width:768px){

    h1{
        font-size:30px;
    }

    p{
        font-size:20px;
    }

    .video-box iframe{
        height:230px;
    }

}

@media(max-width:480px){

    .video-box iframe{
        height:200px;
    }

    .btn{
        font-size:17px;
    }

}
/* BOTON SALIR */

.salir{
    width:100%;
    border:none;
    margin-top:15px;
    background:linear-gradient(135deg,#facc15,#eab308);
    color:#111827;
    cursor:pointer;
    box-shadow:0 10px 25px rgba(250,204,21,.35);
}